.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
}

h2 {
  font-weight: normal;
  font-size: 42px;
  color: white;
}

.passwords {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
  color: white;
}

.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 25px;
}

.more:hover {
  background-color: #FDD836;
}

.more:active {
  background-color: #FFEFA9;
}

.background {
  background-color: rgb(35, 147, 192);
}

.background-2 {
  background-color: rgb(33, 54, 173);
}
